starting with python

In [2]:
#to print something
print("hello world")

hello world

In [4]:
#input type
a=input("enter a number:")
b=input("enter the another number:")
print(int(a)+int(b))

68

In [7]:
#variable declaration- no need to declare type
a=10;
print(type(a))
first_name="Arti"
print(type(first_name))
#floating
b=190.5
print(type(b))
int(b)#typecasting

<class 'int'>
<class 'str'>
<class 'float'>

190

In [10]:
#string formatting
a=23
print("the value of a is:",a)
first_Name="arti"
last_Name="Biradar"
print("the first name is {0} and last name is {1}".format(first_Name,last_Name))

the value of a is: 23
the first name is arti and last name is Biradar

control flows

In [15]:
#if statement

value=input("enter the no.")
value_int =float(value)#convert to float
if(value_int>100):
    print("greater than 100")
elif(value_int==100):#nested if-else
    print("value is 100")
else:
    print("smaller than 100")

print(value)

smaller than 100
34

loops statement

In [26]:
#for loop
list=[1,2,3,4,5,6,7,8]
for i in list:
    print(i*2)

#sum of elements in list
sum=0#intisltise
for j in list:
    sum=sum+j
print(sum)

#find sum of odd numbers
odd_sum1=0
even_sum1=0
for k in list:
    if(k%2==0):
        even_sum1=even_sum1+k
    else:
        odd_sum1=odd_sum1+k    

print(odd_sum1,":odd sum ,",even_sum1,":even sum")

16  :odd sum , 20 :even sum

In [31]:
#while loop
'''i=0
while(i<=10):
    print(i)
    i=i+1'''

#sum of even odd
j=0
odd_sum1=0
even_sum1=0
while(j<=10):
    if(j%2==0):
        even_sum1=even_sum1+j
    else:
        odd_sum1=odd_sum1+j
    
    
    
    j=j+1  

print(odd_sum1,":odd sum ,",even_sum1,":even sum")

25 :odd sum , 30 :even sum

In [35]:
##break-----to break the loop
i=0
while(i<5):
    if(i==3):
        break
    print(i)
    i=i+1

#continue------to continue SKIPPING THE ELEMENT
i=0
while(i<5):
    i=i+1
    if(i==3):
        continue
    print(i)

1
2
4
5

operators

In [44]:
#logocal operators
a=True
b=False

print("AND",True and False)#conditonal AND
print("OR",True or False)#conditional OR
print("NOT",not False)#unary neagation(opposite)

AND False
OR True
NOT True

In [45]:
#equality operators
a="arti"
b='arti1'
a==b #equality operator
print(id(a))
print(id(b))
a is b #is same memory object
a is not b #is not different object
a!=b #!= not same value

2535254043616
2535254043232

False

In [49]:
#comparison operators
a=(4)
b=(10)
a<b#less than
a<=b#less than or equal to 
a>b#grater than
a>=b#greater than or equal to

False

In [52]:
#arithmetic operator
a=4
b=6
a+b#addition
a-b#subration
a*b#multiplication
a/b#true divion
a%b #remainder
a//b#integer division(whole number)

0

Number Methods

In [1]:
#absolute
#abs()-----will return the absolute value of a number which we pass in argument
abs(-24.34)

24.34

In [4]:
#ceiling
#ceil()-----next occurring number 
import math
math.ceil(44.35)
math.ceil(-34.45)

-34

In [5]:
#floor
#floor()-----smallest near value 
math.floor(45.3)

45

In [6]:
#exp()-----exponential value of a number
math.exp(10)

22026.465794806718

In [7]:
#fabs()-------floating values
math.fabs(10.53)

10.53

In [12]:
#log()
print(math.log(10))#base e
math.log10(10)#base 10

2.302585092994046

1.0

In [14]:
#max-------finds the maximum value
max(10,100,200,30,45)

200

In [15]:
#min----minimum value
min(34,56,78,45)

34

In [16]:
#power
math.pow(2,2)#value,power

4.0

In [18]:
#sqrt------sqaure root of anumber
math.sqrt(9)

3.0

In [20]:
#trignometric
math.sin(45)
math.cos(45)
math.tan(0)

0.0

In [22]:
#hypot()-------hypotaneous
math.hypot(4,3)

5.0

In [26]:
#modf------fractional and integer part of the number
math.modf(1)

(0.0, 1.0)

data structures

In [30]:
#lists[]-------mutable,ordered sequence
lst=[1,2,3,4,5,6,7]
lst1=list((12,34,5,3,7))

#append------adding element to the list at last
lst.append([12,34,56,"nested"])
#extend-----adding elements without nested list
lst.extend([9,7,"extended"])

#insert-------inserting element to the specific place
lst.insert(1,"Ar")
lst


#mathematical operations
list_math=[2,2,2,2,2,2]
sum(list_math)
list_math*2#two times append

#pop-----deleting the elements
list_math.pop()
list_math.pop(0)

#count-----calculates total occurance of a given element of list
list_math.count(2)

#length----calcualtes the total length of the lsit
len(list_math)
list_math.index(2,1,4)

1

In [5]:
####sets{independent value}--------mutable,unordered,no duplicates,iterable
set1=set([1,2,3,4])#set keyword--class
set2={1,2,3,4,5}
type(set)
for i in set2:
    print(i)



#adding
set1.add(10)
set1.intersection(set2)

1
2
3
4
5

{1, 2, 3, 4}

In [4]:
####dictionaries{key value pairs}-------unordered,mutable,indexed
dict1={1:"arti",2:"biradar"}
dict2=dict(name:"art",lst:"draw")

SyntaxError: invalid syntax (672542981.py, line 3)