pandas--------------

In [1]:
import pandas as pd
import numpy as np

In [16]:
###dataframe-------type of datastructure
df=pd.DataFrame(data=np.ones((5,4)).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["col1","col2","col3","col4"])

In [17]:
df

      col1  col2  col3  col4
row1   1.0   1.0   1.0   1.0
row2   1.0   1.0   1.0   1.0
row3   1.0   1.0   1.0   1.0
row4   1.0   1.0   1.0   1.0
row5   1.0   1.0   1.0   1.0

In [20]:
df.head()#first 5 rows
df.tail()#last 5 rows
df.info()#info of columns

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row1 to row5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      float64
 1   col2    5 non-null      float64
 2   col3    5 non-null      float64
 3   col4    5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [22]:
df.describe()

       col1  col2  col3  col4
count   5.0   5.0   5.0   5.0
mean    1.0   1.0   1.0   1.0
std     0.0   0.0   0.0   0.0
min     1.0   1.0   1.0   1.0
25%     1.0   1.0   1.0   1.0
50%     1.0   1.0   1.0   1.0
75%     1.0   1.0   1.0   1.0
max     1.0   1.0   1.0   1.0

In [23]:
#indexing
#technique------------columnname,rowindex[loc],rowindex columnindex[.iloc]
df.head()

      col1  col2  col3  col4
row1   1.0   1.0   1.0   1.0
row2   1.0   1.0   1.0   1.0
row3   1.0   1.0   1.0   1.0
row4   1.0   1.0   1.0   1.0
row5   1.0   1.0   1.0   1.0

In [24]:
#columnname
df[['col1','col2']]#if more than 1 column

      col1  col2
row1   1.0   1.0
row2   1.0   1.0
row3   1.0   1.0
row4   1.0   1.0
row5   1.0   1.0

In [26]:
#rowindex name-----loc
df.loc[["row1","row4"]]

      col1  col2  col3  col4
row1   1.0   1.0   1.0   1.0
row4   1.0   1.0   1.0   1.0

In [36]:
df.iloc[0:4,0::3]

      col1  col4
row1   1.0   1.0
row2   1.0   1.0
row3   1.0   1.0
row4   1.0   1.0

In [37]:
#convert to array
df.values

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

basic operations-------------------

In [42]:
df1=pd.DataFrame(data=[[1,np.nan,4],[np.nan,2,3]],index=['r1','r2'],columns=['c1','c2','c3'])
df1

     c1   c2  c3
r1  1.0  NaN   4
r2  NaN  2.0   3

In [44]:
#to check null values
df1.isnull().sum()

c1    1
c2    1
c3    0
dtype: int64

In [48]:
df1['c3'].value_counts()

c3
4    1
3    1
Name: count, dtype: int64

In [51]:
df1['c3'].unique()

array([4, 3])

In [54]:
df1[df1>2]

    c1  c2  c3
r1 NaN NaN   4
r2 NaN NaN   3

read files-------------

In [84]:
data1=pd.read_csv("creditcard.csv")

In [61]:
#string
from io import StringIO
data=('a,b,c,d\n'
      '1,2,3,4\n'
      '5,6,7,8\n'
      '9,10,11')

In [73]:
df2=pd.read_csv(StringIO(data),usecols=['a','b'],dtype='int')#usecols

In [74]:
#convert file to csv
df2.to_csv('data.csv',index='False')

In [76]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes

In [79]:
#use indexcol and usecols
pd.read_csv(StringIO(data),usecols=['a','b','c'],index_col=2)

    a   b
c
3   1   2
7   5   6
11  9  10

to read json file-----------------